@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* tipografias - familia tipográfica: 'Roboto', sans-serif; */
/* Imports archivos */
/* HEADER */
.cabecera {
  background-color: black;
}
@media only screen and (max-width: 1100px) {
  .cabecera .container-fluid .navbar-brand .logoprincipal {
    width: 170px;
  }
}
@media only screen and (max-width: 430px) {
  .cabecera .container-fluid .navbar-brand .logoprincipal {
    width: 150px;
  }
}
.cabecera .container-fluid .navbar-brand .logoprincipal:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
.cabecera .container-fluid .menu {
  justify-content: flex-end;
  margin-right: 2%;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .cabecera .container-fluid .menu {
    justify-content: center;
    margin: auto;
  }
}
.cabecera .container-fluid .menu ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
@media only screen and (max-width: 1200px) {
  .cabecera .container-fluid .menu ul {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1100px) {
  .cabecera .container-fluid .menu ul {
    font-size: 1.3rem;
  }
}
.cabecera .container-fluid .menu ul li {
  list-style-type: none;
  transition: 0.5s;
}
.cabecera .container-fluid .menu ul li:hover {
  transform: scale(1.08);
}
.cabecera .container-fluid .menu ul li a {
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 0 20px;
}
.cabecera .container-fluid .menu ul li a:hover {
  color: #5dc1b9;
}

/* FIN HEADER */
/* SECCION INICIO */
.hero {
  background-image: url(../multimedia/images/sonatafondo.png);
  background-size: cover;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .hero {
    height: 30rem;
  }
}
@media only screen and (max-width: 450px) {
  .hero {
    height: 20rem;
  }
}
.hero .textoimagen {
  margin-bottom: 20px;
  padding: 50px 0 25px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .hero .textoimagen {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .hero .textoimagen {
    font-size: 1.2rem;
  }
}
.hero .boton {
  text-decoration: none;
  padding: 12px 20px;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 24px;
  margin: 25px 0 120px 0;
  transition: 0.3s;
}
@media only screen and (max-width: 800px) {
  .hero .boton {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .hero .boton {
    font-size: 14px;
  }
}
.hero .boton:hover {
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -moz-transform: scale(1.03);
  transform: scale(1.03);
  color: black;
  color: white;
}

.section-carousel .inicio-titulo {
  margin-bottom: 20px;
  padding: 50px 0 25px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .section-carousel .inicio-titulo {
    font-size: 2rem;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 400px) {
  .section-carousel .inicio-titulo {
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
.section-carousel p {
  margin: 0px 60px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  text-align: justify;
}
@media only screen and (max-width: 800px) {
  .section-carousel p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .section-carousel p {
    font-size: 14px;
    line-height: 20px;
  }
}
.section-carousel img {
  padding: 50px 0 25px;
  object-fit: cover;
}

.botonvolverarriba {
  display: flex;
  justify-content: center;
  margin: 35px 0 35px 0;
}
.botonvolverarriba a:hover {
  transform: scale(1.03);
  color: #5dc1b9;
}

/* FIN SECCION INICIO */
/* SECCION HISTORIA */
.historia-arriba {
  margin: auto;
  padding: 35px 0 25px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 620px) {
  .historia-arriba {
    width: 90%;
  }
}
.historia-arriba .imagenhistoria {
  object-fit: cover;
  width: 100%;
}
.historia-arriba .historia-titulo {
  margin: 40px 60px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}
@media only screen and (max-width: 800px) {
  .historia-arriba .historia-titulo {
    font-size: 2rem;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 400px) {
  .historia-arriba .historia-titulo {
    font-size: 1rem;
    font-weight: bolder;
  }
}
.historia-arriba p {
  margin: 0px 60px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  text-align: justify;
}
@media only screen and (max-width: 800px) {
  .historia-arriba p {
    font-size: 16px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .historia-arriba p {
    font-size: 12px;
    line-height: 20px;
  }
}

.historia-abajo {
  margin: auto;
  padding: 35px 0 25px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 620px) {
  .historia-abajo {
    width: 90%;
  }
}
.historia-abajo .imagenhistoria-2 {
  object-fit: cover;
  width: 100%;
}
@media only screen and (max-width: 620px) {
  .historia-abajo .imagenhistoria-2 {
    padding-bottom: 5rem;
  }
}
.historia-abajo p {
  margin: 0px 60px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  text-align: justify;
}
@media only screen and (max-width: 800px) {
  .historia-abajo p {
    font-size: 16px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .historia-abajo p {
    font-size: 12px;
    line-height: 20px;
  }
}

/* FIN SECCION HISTORIA */
/* SECCION DISCOGRAFIA */
.maincatalogo .catalogo .discografia-titulo {
  margin-bottom: 20px;
  padding: 50px 0 25px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .maincatalogo .catalogo .discografia-titulo {
    font-size: 2rem;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 400px) {
  .maincatalogo .catalogo .discografia-titulo {
    font-size: 1rem;
    font-weight: bolder;
  }
}
.maincatalogo .catalogo p {
  margin: 0px 60px;
  padding: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .maincatalogo .catalogo p {
    font-size: 16px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .maincatalogo .catalogo p {
    font-size: 12px;
    line-height: 20px;
  }
}

.grid-catalogo-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 22px 0;
}
.grid-catalogo-items img {
  width: 85%;
  transition: 0.2s;
}
@media only screen and (max-width: 991px) {
  .grid-catalogo-items img {
    width: 70%;
  }
}
.grid-catalogo-items img:hover {
  transform: scale(1.01);
}
.grid-catalogo-items h3 {
  font-size: 20px;
  margin: 12px 0 4px 0;
}
.grid-catalogo-items .botoncomprar {
  display: flex;
  justify-content: center;
  margin: 35px 0 35px 0;
}
.grid-catalogo-items .botoncomprar a:hover {
  transform: scale(1.03);
  color: #5dc1b9;
}

.botonvolverarriba {
  display: flex;
  justify-content: center;
  margin: 35px 0 35px 0;
}
.botonvolverarriba a:hover {
  transform: scale(1.03);
  color: #5dc1b9;
}

/* FIN SECCION DISCOGRAFIA */
/* SECCION GALERIA */
.maingaleria .galeria .galeria-titulo {
  margin-bottom: 20px;
  padding: 50px 0 25px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .maingaleria .galeria .galeria-titulo {
    font-size: 2rem;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 400px) {
  .maingaleria .galeria .galeria-titulo {
    font-size: 1rem;
    font-weight: bolder;
  }
}
.maingaleria .galeria p {
  margin: 0px 60px;
  padding: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .maingaleria .galeria p {
    font-size: 16px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .maingaleria .galeria p {
    font-size: 12px;
    line-height: 20px;
  }
}

.grid-galeria .grid-catalogo-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-galeria .grid-catalogo-items .imagenexpand:hover {
  transition: 0.7s;
  transform: scale(2);
}

.botonvolverarriba {
  display: flex;
  justify-content: center;
  margin: 35px 0 35px 0;
}
.botonvolverarriba a:hover {
  transform: scale(1.03);
  color: #5dc1b9;
}

/* FIN SECCION GALERIA */
/* SECCION CONTACTO */
.contacto .contacto-titulo {
  margin-bottom: 20px;
  padding: 50px 0 25px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .contacto .contacto-titulo {
    font-size: 2rem;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 400px) {
  .contacto .contacto-titulo {
    font-size: 1rem;
    font-weight: bolder;
  }
}
.contacto p {
  margin: 0px 60px;
  padding: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .contacto p {
    font-size: 16px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 400px) {
  .contacto p {
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 330px) {
  .formulario-contacto {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.formulario-contacto .datos-contacto {
  display: flex;
  flex-direction: column;
  margin: 20px 0 35px 0;
}
.formulario-contacto .datos-contacto div {
  display: flex;
  align-items: center;
}
.formulario-contacto .datos-contacto p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 19px;
  margin: 0px;
}
@media only screen and (max-width: 800px) {
  .formulario-contacto .datos-contacto p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .formulario-contacto .datos-contacto p {
    font-size: 14px;
  }
}
.formulario-contacto .datos-contacto img {
  width: 20px;
  margin: 10px;
}

.boton-contacto {
  text-decoration: none;
  padding: 8px 15px;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 15px;
  margin: 25px 0 40px 0;
  transition: 0.3s;
}
.boton-contacto:hover {
  transform: scale(1.03);
  color: #5dc1b9;
}

/* FIN SECCION CONTACTO */
/* FOOTER */
.footer-container {
  background-color: black;
}
.footer-container .footer-grid {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media only screen and (max-width: 980px) {
  .footer-container .footer-grid {
    display: flex;
    flex-direction: column-reverse;
  }
}
.footer-container .footer-grid div {
  display: flex;
  align-items: center;
}
.footer-container .footer-grid .logoalternativo {
  display: flex;
  justify-content: center;
}
.footer-container .footer-grid .logoalternativo img {
  width: 160px;
}
@media only screen and (max-width: 980px) {
  .footer-container .footer-grid .logoalternativo img {
    width: 100px;
    margin: 22px 0px 15px 0;
  }
}
.footer-container .footer-grid .ubicacion {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}
@media only screen and (max-width: 980px) {
  .footer-container .footer-grid .ubicacion {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}
.footer-container .footer-grid .ubicacion .p-copyright {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin-bottom: 0px;
}
@media only screen and (max-width: 1100px) {
  .footer-container .footer-grid .ubicacion .p-copyright {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-container .footer-grid .ubicacion .p-copyright {
    font-size: 16px;
  }
}
.footer-container .footer-grid .redes {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}
@media only screen and (max-width: 980px) {
  .footer-container .footer-grid .redes {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}
@media only screen and (max-width: 400px) {
  .footer-container .footer-grid .redes a img {
    width: 35px;
  }
}
.footer-container .footer-grid .redes a img:hover {
  transform: scale(1.13);
  transition: 0.3s;
}

/* FIN FOOTER */
/* BOTONES */
.botonvolverarriba a, .grid-catalogo-items .botoncomprar a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 20px;
  transition: 0.2s;
}
@media only screen and (max-width: 400px) {
  .botonvolverarriba a, .grid-catalogo-items .botoncomprar a {
    font-size: 1rem;
    font-weight: bolder;
  }
}

/* FIN BOTONES */

/*# sourceMappingURL=style.css.map */
