/* tipografias */
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap");
/* familia tipográfica: 'Roboto', sans-serif; */

/* Imports archivos */
@import "base/variables";
@import "components/header";
@import "components/inicio";
@import "components/footer";
@import "base/mixins";
@import "base/mapas";
@import "base/extends";

* {
  margin: 0;
  padding: 0;
}

.boton {
  text-decoration: none;
  padding: 12px 20px;
  background-color: $bg-color-principal;
  font-family: $font-textos;
  font-weight: 300;
  color: white;
  font-size: 23px;
  margin: 25px 0 120px 0;
  transition: 0.3s;

  &:hover {
    @include animacion(scale(1.03));
    color: black;
    color: white;
  }
}

.historia {
  margin: auto;
  padding: 35px 0 25px;
  color: black;
  font-family: $font-titulos;
  font-size: 40px;
  text-align: center;
}

@media only screen and (max-width: 780px) {
  .fila-historia-2 {
    display: flex;
    flex-direction: column-reverse;
  }
}

.historia h1,
.galeria h1 {
  margin: 40px 60px;
  font-family: $font-titulos;
  font-size: 40px;
}

.historia p,
.historia-2 p,
.galeria p {
  margin: 0px 60px;
  font-family: $font-textos;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  text-align: justify;
  @media only screen and (max-width: 800px) {
    font-size: 16px;
    line-height: 25px;
  }

  @media only screen and (max-width: 400px) {
    font-size: 12px;
    line-height: 20px;
  }
}

.imagenhistoria,
.imagenhistoria-2 {
  object-fit: cover;
  width: 100%;
  @media only screen and (max-width: 800px) {
    width: 80%;
  }

  @media only screen and (max-width: 400px) {
    width: 80%;
  }
}

/* DISCOGRAFIA */

.catalogo h1,
.contacto h1 {
  margin: auto;
  padding: 35px 0 25px;
  color: black;
  font-family: $font-titulos;
  font-size: 40px;
  text-align: center;
}

.catalogo p,
.contacto p,
.section-carousel p {
  margin: auto;
  width: 50%;
  padding-bottom: 50px;
  color: black;
  font-family: $font-textos;
  font-weight: 300;
  font-size: 22px;
  text-align: center;

  @media only screen and (max-width: 991px) {
    width: 75%;
  }
}

.grid-catalogo-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-textos;
  margin: 22px 0;

  img {
    width: 85%;
    transition: 0.2s;

    @media only screen and (max-width: 991px) {
      width: 70%;
    }

    &:hover {
      transform: scale(1.01);
    }
  }

  h3 {
    font-size: 20px;
    margin: 12px 0 4px 0;
  }
}

.botonvolverarriba {
  display: flex;
  justify-content: center;
  margin: 35px 0 35px 0;

  a {
    @extend %boton;
    &:hover {
      transform: scale(1.03);
      color: $color-secundario;
    }
  }
}

.botoncomprar {
  display: flex;
  justify-content: center;
  margin: 35px 0 35px 0;

  a {
    @extend %boton;

    &:hover {
      transform: scale(1.03);
      color: $color-secundario;
    }
  }
}

/* CONTACTO */

.formulario-contacto {
  background-color: map-get($premium, fondo-premium);
}

.datos-contacto {
  display: flex;
  flex-direction: column;
  margin: 20px 0 35px 0;

  div {
    display: flex;
    align-items: center;
  }

  p {
    font-family: $font-textos;
    font-weight: 300;
    color: black;
    font-size: 19px;
    margin: 0px;
  }

  img {
    width: 20px;
    margin: 10px;
  }
}

.boton-contacto {
  text-decoration: none;
  padding: 8px 15px;
  background-color: $bg-color-principal;
  font-family: $font-textos;
  font-weight: 300;
  color: white;
  font-size: 15px;
  margin: 25px 0 40px 0;
  transition: 0.3s;

  &:hover {
    transform: scale(1.03);
    color: $color-secundario;
  }
}
