@import "../base/variables";
@import "../base/mixins";

/* INICIO */

.hero {
  background-image: url(../multimedia/images/sonatafondo.png);
  background-size: cover;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @media only screen and (max-width: 800px) {
    height: 30rem;
  }

  @media only screen and (max-width: 450px) {
    height: 20rem;
  }

  .textoimagen {
    margin-bottom: 20px;
    padding: 50px 0 25px;
    color: white;
    font-family: $font-titulos;
    font-size: 2rem;
    text-align: center;

    @media only screen and (max-width: 800px) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: 450px) {
      font-size: 1.2rem;
    }
  }
  .boton {
    text-decoration: none;
    padding: 12px 20px;
    background-color: $bg-color-principal;
    font-family: $font-textos;
    font-weight: 300;
    color: white;
    font-size: 24px;
    margin: 25px 0 120px 0;
    transition: 0.3s;

    @media only screen and (max-width: 800px) {
      font-size: 16px;
    }
  
    @media only screen and (max-width: 450px) {
      font-size: 14px;
    }

    &:hover {
      @include animacion(scale(1.03));
      color: black;
      color: white;
    }
  }
}

.section-carousel {
  .inicio-titulo {
    margin-bottom: 20px;
    padding: 50px 0 25px;
    color: black;
    font-family: $font-titulos;
    font-size: 3rem;
    text-align: center;

    @media only screen and (max-width: 800px) {
      font-size: 2rem;
      font-weight: bolder;
    }

    @media only screen and (max-width: 400px) {
      font-size: 1.2rem;
      font-weight: bolder;
    }
  }
  p {
    margin: 0px 60px;
    font-family: $font-textos;
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    text-align: justify;
    @media only screen and (max-width: 800px) {
      font-size: 18px;
      line-height: 25px;
    }

    @media only screen and (max-width: 400px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  img {
    padding: 50px 0 25px;
    object-fit: cover;
  }
}

.botonvolverarriba {
  display: flex;
  justify-content: center;
  margin: 35px 0 35px 0;
  a {
    @extend %boton;
    &:hover {
      transform: scale(1.03);
      color: $color-secundario;
    }
  }
}
