/*  
      <!--------------------------------------------------------------->
      <!---------------------CARRUSEL Y BIENVENIDA--------------------->
      <!--------------------------------------------------------------->
  */

body {
  font-family: $main-font;
}

.color__main {
  background-color: $main-color;
}

.bienvenida {
  div {
    .carousel-inner {
      max-height: 60rem;
    }
  }
}
