/* 
      <!--------------------------------------------------------------->
      <!-------------------------DISCOGRAFIA--------------------------->
      <!---------------------------------------------------------------> 
  */


  section {
    div {
      .color__card__title {
        background-color: $section-color;
        color: #ffc107;
      }
      
      .color__card {
        background-color: $section-color;
        color: #0dcaf0;
      }
    }
  }

  
  