/*  
      <!--------------------------------------------------------------->
      <!----------------------------HEADER----------------------------->
      <!--------------------------------------------------------------->
  */

#logo {
  width: 5.5rem;
  height: 3.5rem;
}

#menu a {
  font-size: 1rem;
  font-weight: bold;
}

#menu form > button {
  font-size: 1rem;
  font-weight: bold;
}

header {
  .color__header {
    background-color: $form-color;
  }
  div {
    .colortext__menu {
      color: #0dcaf0;
    }
    .navMenu a {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    
    .navMenu a:hover {
      color: #fddb3a;
    }
  }
  
}








