/*  
      <!--------------------------------------------------------------->
      <!---------------MEDIA QUERIES PANTALLA SM----------------------->
      <!---------------------------------------------------------------> 
  */

  @media screen and (min-width: 260px) and (max-width: 480px) {
    /*  
        <!--------------------------------------------------------------->
        <!----------------------------HEADER----------------------------->
        <!--------------------------------------------------------------->
    */

    header {
      .color__header {
        background-color: rgb(50, 0, 0);
      }
      div {
        .colortext__menu {
          color: #0df02b;
        }
        .navMenu a {
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
        
        .navMenu a:hover {
          color: #3afdf3;
        }
      }
      
    }
    
  
    /*  
        <!--------------------------------------------------------------->
        <!---------------------CARRUSEL Y BIENVENIDA--------------------->
        <!--------------------------------------------------------------->
    */
  
    .color__main {
      background-color: rgb(95, 0, 0);
  }

    /* 
        <!--------------------------------------------------------------->
        <!-------------------------HISTORIA------------------------------>
        <!---------------------------------------------------------------> 
    */
  
    section {
      div {
        div {
          .color__accordion {
            background-color: rgb(50, 0, 0);
          }
    
          .accordion-button:not(.collapsed) {
            background-color: rgb(50, 0, 0);
            color: #3afdf3;
          }
        }
      }
    }
    
    /* 
        <!--------------------------------------------------------------->
        <!-------------------------DISCOGRAFIA--------------------------->
        <!---------------------------------------------------------------> 
    */
  
    section {
      div {
        .color__card__title {
          background-color: rgb(60, 0, 0);
      color: #f3bf20;
        }
        
        .color__card {
          background-color: rgb(60, 0, 0);
        }
      }
    }

    /* 
        <!--------------------------------------------------------------->
        <!-------------------------GALERIA------------------------------->
        <!---------------------------------------------------------------> 
    */
  
    section {
      & div {
        .flash:hover {
          opacity: 0.9;
          -webkit-animation: flash 1.8s;
          animation: flash 1.8s;
        }
        @-webkit-keyframes flash {
          0% {
            opacity: 0.3;
          }
          100% {
            opacity: 0.9;
          }
        }
        @keyframes flash {
          0% {
            opacity: 0.3;
          }
          100% {
            opacity: 0.9;
          }
        }
        }
      }
    
    /* 
        <!--------------------------------------------------------------->
        <!-------------------------CONTACTO------------------------------>
        <!---------------------------------------------------------------> 
    */
  
    /* Formulario Contacto */

    .formulario__contacto {
      background-color: rgb(50, 0, 0);
    }
  }