/* BOTONES */

%boton {
  text-decoration: none;
  padding: 10px 20px;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 20px;
  transition: 0.2s;
  @media only screen and (max-width: 400px) {
    font-size: 1rem;
    font-weight: bolder;
  }
}

/* FIN BOTONES */
